/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

#copyrights {
  background: url("https://canvastemplate.com/demos/seo/images/hero/footer.svg")
    no-repeat top center;
  background-size: cover;
  padding-top: 70px;
}

.slick-slider {
  width: 90% !important;
  margin: auto !important;
}

/* Ensure the parent element (.platform-item) has a relative position */
.platform-item {
  position: relative;
  cursor: pointer !important;
  transition: transform 0.2s;
  z-index: 99999 !important;
}

.platform-item:hover {
  transform: scale(1.2);
}

/* Initially hide the submenu */
.platform-item .data-pages {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  min-width: 300px;
  min-height: 300px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #000;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
  top: 90%;
  left: 0;
  z-index: 9999 !important;
}

/* Show the submenu when hovering over the tile */
.platform-item:hover .data-pages {
  display: block;
}

/* Style for submenu items */
.platform-item .data-pages li a {
  color: #fff; /* Default link color */
  text-decoration: none;
  display: block;
  padding: 0.5rem 0;
}

/* Change color of submenu item on hover */
.platform-item .data-pages li a:hover {
  color: var(--kek-themecolor);
}

.slick-prev::before,
.slick-next::before {
  color: black !important;
}

.btn {
  margin-right: 10px !important;
}

#header:not(.sticky-header) #header-wrap .container {
  box-shadow: var(--kek-header-boxshadow) !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.subheader-tile-image {
  max-width: 100px;
  max-height: 80px;
}

.bg-kek {
  background-color: var(--kek-themecolor) !important;
}

.text-kek {
  color: var(--kek-themecolor) !important;
}

.kek-info-box {
  background-image: url("../images/info-box-bg-light.svg") !important;
  background-position: 80% 100% !important;
  background-size: 100% 290px m !important;
}

.counter {
  max-height: 100px !important;
}

.background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Adjust if necessary */
  background-size: cover;
  background-position: center;
  z-index: -1; /* Ensure it stays behind other content */
}

.card-img {
  left: 100px !important;
}

/* ========== CAROUSEL STYLES START ========== */

.kek-slider .data-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  margin-top: -10px;
  background: #fff;
  /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 2)),
    url("../images/subheader-bg.jpg"); */
  /* background-size: cover; */
}
.kek-slider .owl-carousel {
  display: block;
  width: 100%;
}
.kek-slider .owl-carousel .owl-slide {
  display: inline-block;
  width: 100%;
}
.kek-slider .owl-carousel .owl-stage-outer {
  overflow: initial;
  z-index: 1;
}
.kek-slider .owl-carousel .owl-item {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.kek-slider .owl-carousel .owl-item.active {
  opacity: 1;
}
.kek-slider .data-wrapper .owl-carousel .owl-nav {
  position: absolute;
  inset: 0;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 0;
  margin: 0 -2rem;
  transform: translateY(-50%);
  z-index: 5;
}
@media only screen and (max-width: 576px) {
  .kek-slider .data-wrapper .owl-carousel .owl-nav {
    margin: 0;
  }
}
.kek-slider .data-wrapper .owl-carousel .owl-prev,
.kek-slider .data-wrapper .owl-carousel .owl-next {
  width: 28px;
  height: 28px;
  border: 1px solid #e5e9ed;
  border-radius: 100%;
}
.kek-slider .data-wrapper .owl-carousel .owl-prev {
  background-image: url(../img/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.kek-slider .data-wrapper .owl-carousel .owl-next {
  background-image: url(../img/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.kek-slider .data-wrapper .owl-carousel .owl-prev span,
.kek-slider .data-wrapper .owl-carousel .owl-next span {
  font-size: 0;
}

/* ========== CAROUSEL STYLES END ========== */

/* ========== TESTIMONIALS START ========== */

blockquote {
  padding: 0;
  margin: 0;
}

section.t-bq-section {
  padding: 30px;
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

.t-bq-wrapper.t-bq-wrapper-boxed {
  max-width: 576px;
  margin: 0 auto;
}

.t-bq-wrapper.t-bq-wrapper-fullwidth {
  max-width: 100%;
}

/* ========== Testimonial Card Style 1 ========== */

.t-bq-quote-kek-testimonial-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 250px;
  box-shadow: 2px 2px 25px #cecece;
  border-radius: 10px;
}

.t-bq-quote-kek-testimonial-1 .t-bq-quote-kek-testimonial-1-pattern {
  flex-basis: 80px;
  background-color: var(--kek-themecolor);
  border-radius: 10px 100px 100px 10px;
}

.t-bq-quote-kek-testimonial-1 .t-bq-quote-kek-testimonial-1-base {
  flex-basis: calc(100% - 80px);
  background: #ffffff;
  padding: 40px 30px 50px 80px;
  font-size: 11pt;
  font-weight: bold;
  line-height: 1.62em;
  border-radius: 0 10px 10px 0;
}

.t-bq-quote-kek-testimonial-1 .t-bq-quote-kek-testimonial-1-qmark {
  position: absolute;
  top: 50px;
  left: 105px;
  font-family: Garamond, Georgia, "Times New Roman", serif;
  font-size: 42pt;
  color: var(--kek-themecolor);
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.t-bq-quote-kek-testimonial-1 .t-bq-quote-kek-testimonial-1-userpic {
  position: absolute;
  top: 80px;
  left: 45px;
  width: 70px;
  height: 70px;
  background-size: cover;
  border-radius: 50%;
  box-shadow: var(--kek-box-shadow);
  background-color: white;
}

.t-bq-quote-kek-testimonial-1 .t-bq-quote-kek-testimonial-1-meta {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 2px dotted #777777;
}

.t-bq-quote-kek-testimonial-1
  .t-bq-quote-kek-testimonial-1-meta
  .t-bq-quote-kek-testimonial-1-author,
.t-bq-quote-kek-testimonial-1
  .t-bq-quote-kek-testimonial-1-meta
  .t-bq-quote-kek-testimonial-1-source {
  color: #777777;
}

.t-bq-quote-kek-testimonial-1
  .t-bq-quote-kek-testimonial-1-meta
  .t-bq-quote-kek-testimonial-1-author {
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 10pt;
  font-weight: bold;
}

.t-bq-quote-kek-testimonial-1
  .t-bq-quote-kek-testimonial-1-meta
  .t-bq-quote-kek-testimonial-1-author
  cite {
  font-style: normal;
}

.t-bq-quote-kek-testimonial-1
  .t-bq-quote-kek-testimonial-1-meta
  .t-bq-quote-kek-testimonial-1-source {
  font-size: 9pt;
}

@media screen and (max-width: 768px) {
  .t-bq-quote-kek-testimonial-1 .t-bq-quote-kek-testimonial-1-pattern {
    flex-basis: 20px;
  }

  .t-bq-quote-kek-testimonial-1 .t-bq-quote-kek-testimonial-1-base {
    flex-basis: calc(100% - 20px);
    padding: 100px 30px 50px 30px;
  }

  .t-bq-quote-kek-testimonial-1 .t-bq-quote-kek-testimonial-1-userpic {
    width: 50px;
    height: 50px;
    left: 40px;
    top: 20px;
  }

  .t-bq-quote-kek-testimonial-1 .t-bq-quote-kek-testimonial-1-qmark {
    left: 100px;
    top: 45px;
  }
}

/* ========== TESTIMONIALS END ========== */

/* Cloud animation starts */

.animation-cloud-parts {
  position: relative;
  position: relative;
  display: block;
  display: block;
  height: 100%;
  height: 100%;
}

.animation-cloud-btn-inner {
  position: absolute;
  position: absolute;
  left: 0;
  left: 0;
  top: 0;
  top: 0;
  width: 100%;
  width: 100%;
  height: 100%;
  height: 100%;
  border-radius: 8px !important;
  border-radius: 8px !important;
  overflow: hidden;
  overflow: hidden;
  z-index: 0;
  z-index: 0;
}

.animation-cloud-part {
  position: absolute;
  position: absolute;
  top: 0;
  top: 0;
  width: 25%;
  width: 25%;
  height: 100%;
  height: 100%;
  background: #fff;
  background: #fff;
  border-radius: 100%;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
  transition: transform 0.45s;
}

.animation-cloud-part:nth-child(1) {
  left: 0;
  left: 0;
  transition-delay: 0s;
  transition-delay: 0s;
}

.animation-cloud-part:nth-child(2) {
  left: 30%;
  left: 30%;
  transition-delay: 80ms;
  transition-delay: 80ms;
}

.animation-cloud-part:nth-child(3) {
  left: 60%;
  left: 60%;
  transition-delay: 0.16s;
  transition-delay: 0.16s;
}

.animation-cloud-part:nth-child(4) {
  left: 90%;
  left: 90%;
  transition-delay: 0.24s;
  transition-delay: 0.24s;
}

.animation-cloud-btn {
  position: relative;
  position: relative;
}

.animation-cloud-btn:hover .animation-cloud-part {
  transform: translate3d(0, 0%, 0) scale(1.7);
  transform: translate3d(0, 0%, 0) scale(1.7);
}

.animation-cloud-btn:hover {
  opacity: 1;
  opacity: 1;
  border-color: var(--kek-themecolor);
  border-color: var(--kek-themecolor);
}

.animation-cloud-btn:hover span.cloud-button-content {
  color: var(--kek-themecolor);
  color: var(--kek-themecolor);
}

.animation-cloud-btn:hover .cloud-button-icon {
  color: var(--kek-themecolor);
  color: var(--kek-themecolor);
}

span.cloud-button-content {
  z-index: 10;
  z-index: 10;
  position: relative;
  position: relative;
  color: #fff;
  color: #fff;
}

.animation-cloud-btn {
  border: none;
  border: none;
  padding: 1.1rem 5rem !important;
  padding: 1.1rem 5rem !important;
}
/* Cloud animation ends */

/*
  DEMO LANDING - OVERRIDES
*/

.button,
.btn {
  transition: transform 0.45s cubic-bezier(0.2, 0.7, 0.3, 1);
}
.button:hover,
.btn:hover {
  transform: translateX(-4px);
}
.text-muted {
  color: #9bb0bf !important;
}
.bgsecondary {
  background-color: var(--cnvs-secondary-color, #ff3a33);
}
.sub-menu-container .menu-item > .menu-link i {
  margin-right: 15px;
  color: var(--cnvs-themecolor, #3d80e4);
  font-size: 18px;
}
.sub-menu-container:not(.mega-menu-column),
.mega-menu-content {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 15px 18px;
  margin-top: -1px;
}
.slider-element {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-imgs .iphone-img {
  position: relative;
  z-index: 1;
  width: 330px;
  -webkit-transform: perspective(1400px) rotateY(-20deg) rotateX(10deg)
    rotateZ(6deg) scale(0.8) translateX(50%) translateY(6%);
  transform: perspective(1400px) rotateY(-20deg) rotateX(10deg) rotateZ(6deg)
    scale(0.8) translateX(50%) translateY(6%);
  transition: transform 0.45s cubic-bezier(0.2, 0.7, 0.3, 1);
}
.slide-imgs:hover .iphone-img {
  -webkit-transform: perspective(1000px) rotateY(0deg) rotateX(0deg)
    rotateZ(0deg) scale(0.95) translateX(40%) translateY(8%);
  transform: perspective(1000px) rotateY(0deg) rotateX(0deg) rotateZ(0deg)
    scale(0.95) translateX(40%) translateY(8%);
}
.slide-imgs .card-img {
  position: absolute;
  bottom: 10px;
  left: -90px;
  width: 360px;
  transition: opacity 0.65s cubic-bezier(0.2, 0.7, 0.3, 1);
  z-index: 1;
}
.slider-element {
  z-index: 1;
}
.section-clients {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 45px 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.section-clients img {
  width: 100px;
}
.section-features {
  padding: 120px;
}
.heading-block h2 {
  font-size: 52px;
  line-height: 1.3;
  font-weight: 900;
  letter-spacing: -1px;
}
.heading-block h3 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
}
.features-items .feature-box .fbox-icon {
  --f-icon-size: 42px;
  position: relative;
  margin-bottom: 34px;
  width: 42px;
  height: 42px;
  width: var(--f-icon-size);
  height: var(--f-icon-size);
}
.features-items .feature-box .fbox-icon i {
  background-color: transparent !important;
  color: var(--cnvs-themecolor, #3d80e4);
  font-size: 42px;
  font-size: var(--f-icon-size);
}
.features-items .fbox-desc h3 {
  font-size: 19px;
  text-transform: none;
  font-weight: 800;
  letter-spacing: 0;
}
.owl-stage-outer {
  padding: 0;
}
.owl-stage-outer .owl-stage-outer-bg {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-background-size: contain;
  background-size: contain;
  background-image: url(images/section/device.png);
  background-repeat: no-repeat;
  background-position: center center;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.owl-item img {
  width: 100%;
  transform: scale(0.85);
  transition: transform 0.3s cubic-bezier(0.2, 0.7, 0.3, 1);
}
.owl-item.active.center img {
  transform: scale(0.95);
}
.owl-carousel .owl-dots .owl-dot {
  opacity: 0.3;
  margin-top: 40px;
  width: 20px;
  height: 5px;
  border-radius: 4px;
  transition: all 0.3s cubic-bezier(0.2, 0.7, 0.3, 1);
}
.owl-carousel .owl-dots .owl-dot.active {
  width: 50px;
}
.pricing-table .card {
  border-radius: 20px;
  padding: 30px 10px;
  margin: 50px 0px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: -1px -1px;
  background-size: 102% 160px;
  border-color: rgba(255, 255, 255, 0.3);
}
.pricing-table .card h2 {
  font-size: 48px;
}
.pricing-table .card p {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6 !important;
}
.pricing-table .card .iconlist {
  font-size: 15px;
  font-weight: 500;
  color: #888;
  font-family: roboto;
}
.pricing-table .card .iconlist li:not(:last-child) {
  margin-bottom: 7px;
}
.toggle-wrap {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}
.toggle {
  padding: 18px 30px;
  margin-bottom: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  transition: background-color 0.2s ease;
}
.toggle:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.toggle:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.toggle:last-child {
  border-bottom: 0;
}
.toggle .togglet {
  font-size: 19px;
  padding-left: 0;
  font-weight: 600;
  color: #f5f5f5;
}
.toggle:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.device-video-wrap {
  position: relative;
}
.device-video-wrap img {
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
}
.device-video-wrap video {
  position: absolute;
  top: 35px;
  left: 33%;
  max-width: 40%;
  z-index: 1;
  transform: translate(-50%);
}
.device-video-wrap::before,
.dotted-bg::before {
  content: "";
  position: absolute;
  display: block;
  top: 40%;
  left: 35%;
  width: 110%;
  height: 120%;
  background-size: 12px 12px;
  background-position: center;
  transform: translate(-50%, -50%);
  background-image: radial-gradient(#3d80e4 14%, transparent 14%);
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 75%);
  mask-image: radial-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 75%);
  z-index: 0;
}
.dotted-bg::before {
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.2) 14%,
    transparent 14%
  );
}
.dotted-bg.dotted-bg-dark::before {
  background-image: radial-gradient(rgba(4, 4, 4, 0.2) 14%, transparent 14%);
}
.device-video-wrap > * {
  position: relative;
  z-index: 1;
}
.feature-box.fbox-plain .fbox-icon i {
  font-size: 36px;
}
.testimonial .flexslider .slider-wrap img {
  display: block;
  width: auto;
  margin: 0 auto;
  max-height: 80px;
  margin-bottom: 30px;
}
.testimonial .testi-content p {
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5 !important;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}
.dark .testimonial .testi-content p {
  color: #fff;
}
.dark .testimonial .testi-meta span {
  color: rgba(255, 255, 255, 0.5);
}
.flex-prev,
.flex-next {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.dark .flex-prev,
.dark .flex-next {
  background-color: #fff !important;
}
.flex-next i,
.flex-prev i {
  font-size: 24px;
  height: 45px;
  line-height: 45px;
  color: #111;
  text-shadow: none;
}
.flex-next i {
  margin-left: 2px;
}
.flex-prev i {
  margin-left: -1px;
}
.skills li {
  height: 12px;
  border-radius: 10px;
}
.skills li .progress {
  border-radius: 10px;
}
.skills li .progress-percent {
  top: -38px;
  right: -60px;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  height: auto;
  z-index: 2;
  font-size: 17px;
  line-height: 16px;
  text-shadow: none;
}
.text-nowrap {
  width: 600px;
  position: relative;
  z-index: 2;
  background-color: #fff;
  transform: translateX(6%);
  padding: 0 20px 10px;
}
@media (max-width: 991.98px) {
  .display-3 {
    font-size: 7vw;
  }
  .slide-imgs .iphone-img {
    -webkit-transform: perspective(1000px) rotateY(0deg) rotateX(0deg)
      rotateZ(0deg) scale(0.85) translateX(20%) translateY(0%) !important;
    transform: perspective(1000px) rotateY(0deg) rotateX(0deg) rotateZ(0deg)
      scale(0.85) translateX(20%) translateY(0%) !important;
  }
  .slider-element {
    padding-top: 30px;
  }
  .section-features {
    padding: 60px;
  }
  .testimonial .testi-content p {
    font-size: 20px;
  }
  .testimonial .testi-content p {
    max-width: 600px;
  }
  .sub-menu-container:not(.mega-menu-column),
  .mega-menu-content {
    border-radius: 0;
    margin-top: 0;
  }
  .dark .menu-container > .menu-item > .menu-link,
  .dark .sub-menu-container .menu-item > .menu-link {
    color: #fff;
  }
  .text-nowrap {
    width: 100%;
    position: relative;
    z-index: 2;
    transform: none;
    padding: 0;
  }
}
@media (max-width: 767.98px) {
  .section-clients {
    position: relative;
    bottom: auto;
  }
  .testimonial .testi-content p {
    max-width: 300px;
  }
}



/** Coping from css **/

.banner-box .box-footer {
  background:#f4f6f8;
  padding:1.9rem 3.5rem 1rem
}
.banner-box .box-footer ul {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between
}
.banner-box .box-footer li {
  font-size:.87rem;
  line-height:1.625rem;
  font-weight:700;
  position:relative;
  padding-left:1.5rem;
  margin-bottom:1rem;
  flex:0 0 50%;
  max-width:50%
}
.banner-box .box-footer li:nth-child(2n) {
  flex:0 0 34%;
  max-width:34%
}
.banner-box .box-footer li::before {
  content:'';
  width:1rem;
  height:1rem;
  position:absolute;
  background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTYnIGhlaWdodD0nMTYnIHZpZXdCb3g9JzAgMCAxNiAxNicgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cmVjdCB3aWR0aD0nMTYnIGhlaWdodD0nMTYnIHJ4PSc2JyBmaWxsPScjRUQyMDI0Jy8+PHBhdGggZD0nTTQuNjY2NSA3LjY2NjY1TDYuOTk5ODQgOS45OTk5OEwxMS42NjY1IDUuMzMzMzEnIHN0cm9rZT0nd2hpdGUnIHN0cm9rZS13aWR0aD0nMicvPjwvc3ZnPgo=);
  background-repeat:no-repeat;
  background-size:contain;
  top:.3rem;
  left:0
}
.banner-box form {
  display:flex;
  flex-wrap:wrap;
  padding:4.1rem 3.5rem 2rem;
  min-height:420px
}
.banner-box form .form-col {
  flex:1;
  margin-bottom:1.5rem
}
.banner-box form .col-12 {
  flex:0 0 100%;
  max-width:100%;
  margin-bottom:0
}
.banner-box form label {
  font-size:.9375rem;
  line-height:1.625rem;
  display:block;
  margin-bottom:.5rem
}
.banner-box form .form-col:first-child {
  flex:0 0 57%;
  max-width:57%;
  margin-right:3.2rem
}
.banner-box form .btn-group {
  flex-wrap:wrap;
  display:flex;
  width:100%;
  justify-content:space-between
}
.banner-box .btn-group .btn-radio {
  height:4rem;
  margin-bottom:1rem
}
.banner-box .btn-group .btn {
  font-size:.9375rem;
  line-height:1rem;
  font-weight:400;
  color:#4b4b4b;
  border:0;
  display:flex;
  flex-wrap:wrap;
  -moz-border-radius:5rem;
  -webkit-border-radius:5rem;
  border-radius:5rem;
  padding:0;
  margin-bottom:0;
  height:100%
}
.banner-box .btn-group .btn:focus,
.banner-box .btn-group .btn:active {
  box-shadow:none;
  outline:none
}
.banner-box .btn-group .btn .col {
  padding:.5rem .2rem 0;
  height:100%
}
.banner-box .btn-group .btn .right-col {
  background-color:#f4f6f8;
  border-top-right-radius:5rem;
  border-bottom-right-radius:5rem;
  flex:0 0 58%;
  max-width:58%;
  position:relative
}
.banner-box .btn-group .btn .left-col {
  border-top-left-radius:5rem;
  border-bottom-left-radius:5rem;
  border:1px solid #f4f6f8;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding-top:0
}
.banner-box .btn-group .btn .right-col.single {
  display:flex;
  padding:0;
  align-items:center!important;
  justify-content:center!important
}
.banner-box .btn-group .btn .price {
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:1.125rem;
  line-height:1.9375rem;
  color:#ed2024;
  font-weight:700
}
.banner-box .btn-group .btn .old-price {
  text-decoration:line-through;
  font-weight:400;
  color:#4b4b4b;
  margin-left:.1rem;
  margin-right:.5rem
}
.banner-box .btn-group .btn .save {
  background-color:#ed2024;
  border-top-left-radius:.5rem;
  border-top-right-radius:.5rem;
  color:#fff;
  width:5.3125rem;
  margin:auto auto 0;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:1.4rem;
  display:flex;
  align-items:center;
  justify-content:center
}
.banner-box .btn-group .btn-check:checked~.btn .left-col {
  border-color:#ed2024
}
.banner-box .btn-group .btn-check:checked~.btn .right-col {
  background-color:#ed2024
}
.banner-box .btn-group .btn-check:checked~.btn .price {
  color:#fff
}
.banner-box .btn-group .btn-check:checked~.btn .old-price {
  color:#fff
}
.banner-box .btn-group .btn-check:checked~.btn .save {
  background-color:#050708
}
.banner-box .btn-group .btn-check:focus~.btn {
  box-shadow:none
}
.banner-box .btn-group .btn-radio {
  flex:0 0 48.5%;
  max-width:48.5%
}
.banner-box .btn-group .btn .number {
  font-size:1.5rem;
  font-weight:700;
  color:#050708;
  line-height:1.55rem;
  display:block;
  margin-top:.2rem
}
.banner-box .btn-group .btn span {
  display:block
}
.banner-box form .btn-black {
  width:100%;
  margin-top:1.1rem
}
.section-banner-views .lines .line {
  position:absolute
}
.section-banner-views .lines span {
  background:#ed2024;
  transform:matrix(1,.58,0,.89,0,0);
  -moz-border-radius:.25rem;
  -webkit-border-radius:.25rem;
  border-radius:.25rem;
  width:100%;
  height:100%;
  display:block;
  -webkit-animation:message-floating 30s linear infinite;
  -moz-animation:message-floating 30s linear infinite;
  animation:message-floating 30s linear infinite
}
.section-banner-views .lines .line:first-child {
  width:6.1rem;
  height:5.3375rem;
  top:.6rem;
  right:12.9rem
}
.section-banner-views .lines .line:first-child span {
  background-color:rgb(237 32 36/20%);
  -moz-border-radius:.5rem;
  -webkit-border-radius:.5rem;
  border-radius:.5rem;
  -webkit-animation-delay:1s;
  -moz-animation-delay:1s;
  animation-delay:1s
}
.section-banner-views .lines .line:nth-child(2) {
  width:5.725rem;
  height:1.075rem;
  top:.7rem;
  right:15.5rem
}
.section-banner-views .lines .line:nth-child(2) span {
  animation-direction:reverse;
  -webkit-animation-delay:2s;
  -moz-animation-delay:2s;
  animation-delay:2s
}
.section-banner-views .lines .line:nth-child(3) {
  width:6.9625rem;
  height:3.5875rem;
  bottom:8.5rem;
  left:-11rem
}
.section-banner-views .lines .line:nth-child(3) span {
  background-color:rgb(237 32 36/20%);
  -moz-border-radius:.5rem;
  -webkit-border-radius:.5rem;
  border-radius:.5rem;
  animation-direction:reverse;
  -webkit-animation-delay:2s;
  -moz-animation-delay:2s;
  animation-delay:2s
}
.section-banner-views .lines .line:nth-child(4) {
  height:.0625rem;
  width:5.6375rem;
  bottom:12.4rem;
  left:-13.2rem
}
.section-banner-views .lines .line:nth-child(4) span {
  -webkit-animation-delay:1s;
  -moz-animation-delay:1s;
  animation-delay:1s
}
.banner-box .box-head {
  text-align:center
}
.banner-box .nav-tabs {
  justify-content:center;
  border-bottom:1px solid rgb(5 7 8/10%);
  margin-top:.9rem;
  padding:0 3.5rem
}
.banner-box .nav-tabs .nav-item {
  flex:1
}
.banner-box .nav-tabs .nav-link {
  font-size:.9375rem;
  font-weight:700;
  color:#050708;
  border:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
  border-bottom:2px solid transparent;
  padding:.4rem 1rem .55rem;
  width:100%;
  height:100%
}
.banner-box .nav-tabs .nav-link.active {
  color:#ed2024;
  border-bottom-color:#ed2024
}
.banner-box .nav-tabs .nav-link:hover {
  color:#ed2024
}
.banner-box .box-footer li .tooltip-icon {
  margin-left:.3rem;
  width:.875rem;
  height:.875rem;
  display:inline-block
}
.banner-box .box-footer li .tooltip-icon img {
  width:100%;
  height:100%;
  object-fit:contain
}
.tooltip {
  transition:.4s;
  background:#fff;
  box-shadow:0 20px 40px rgba(0,0,0,.1);
  -moz-border-radius:1rem;
  -webkit-border-radius:1rem;
  border-radius:1rem;
  font-size:.9375rem;
  line-height:1.625rem;
  color:#4b4b4b;
  bottom:2.7rem;
  left:0;
  padding:1.526rem 1.5rem .3rem;
  max-width:13.5rem;
  font-family:montserrat,sans-serif;
  visibility:hidden
}
.tooltip.show {
  opacity:1;
  visibility:visible
}
.tooltip h6 {
  margin-bottom:.3rem
}
.banner-box .owl-carousel .owl-nav {
  position:absolute;
  inset:0;
  display:flex;
  align-items:center;
  justify-content:space-between;
  height:1px;
  margin:0 -3.5rem;
  top:45%
}
.banner-box .owl-carousel .owl-nav button {
  height:4rem;
  width:2rem;
  background-color:#f4f6f8;
  -moz-border-radius:1rem;
  -webkit-border-radius:1rem;
  border-radius:1rem;
  background-repeat:no-repeat;
  background-position:center;
  font-size:0
}
.banner-box .owl-carousel .owl-nav button.owl-prev {
  background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nOCcgaGVpZ2h0PScxNCcgdmlld0JveD0nMCAwIDggMTQnIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTIuODI3ODMgNi45OTk5OUw3Ljc3NzgzIDExLjk1TDYuMzYzODMgMTMuMzY0TC0wLjAwMDE2ODEyNSA2Ljk5OTk5TDYuMzYzODMgMC42MzU5ODZMNy43Nzc4MyAyLjA0OTk5TDIuODI3ODMgNi45OTk5OVonIGZpbGw9JyMwNTA3MDgnLz48L3N2Zz4K);
  border-top-left-radius:0;
  border-bottom-left-radius:0
}
.banner-box .owl-carousel .owl-nav button.owl-next {
  background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nOCcgaGVpZ2h0PScxNCcgdmlld0JveD0nMCAwIDggMTQnIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTUuMTcyMTcgNi45OTk5OUwwLjIyMjE2OCAxMS45NUwxLjYzNjE3IDEzLjM2NEw4LjAwMDE3IDYuOTk5OTlMMS42MzYxNyAwLjYzNTk4NkwwLjIyMjE2OCAyLjA0OTk5TDUuMTcyMTcgNi45OTk5OVonIGZpbGw9JyMwNTA3MDgnLz48L3N2Zz4K);
  border-top-right-radius:0;
  border-bottom-right-radius:0
}
.banner-box .owl-carousel .owl-nav button:hover {
  background-color:#ed2024
}
.banner-box .owl-carousel .owl-nav button.owl-prev:hover {
  background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nOCcgaGVpZ2h0PScxNCcgdmlld0JveD0nMCAwIDggMTQnIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTIuODI3ODMgNi45OTk5OUw3Ljc3NzgzIDExLjk1TDYuMzYzODMgMTMuMzY0TC0wLjAwMDE2ODEyNSA2Ljk5OTk5TDYuMzYzODMgMC42MzU5ODZMNy43Nzc4MyAyLjA0OTk5TDIuODI3ODMgNi45OTk5OVonIGZpbGw9JyNmZmZmZmYnLz48L3N2Zz4K)
}
.banner-box .owl-carousel .owl-nav button.owl-next:hover {
  background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nOCcgaGVpZ2h0PScxNCcgdmlld0JveD0nMCAwIDggMTQnIGZpbGw9J25vbmUnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTUuMTcyMTcgNi45OTk5OUwwLjIyMjE2OCAxMS45NUwxLjYzNjE3IDEzLjM2NEw4LjAwMDE3IDYuOTk5OTlMMS42MzYxNyAwLjYzNTk4NkwwLjIyMjE2OCAyLjA0OTk5TDUuMTcyMTcgNi45OTk5OVonIGZpbGw9JyNmZmZmZmYnLz48L3N2Zz4K)
}
.section-banner-views .button-wrap p {
  max-width:100%;
  flex:1;
  margin-left:3rem;
  font-weight:700;
  margin-bottom:0
}
.section-banner-views .button-wrap p span {
  color:#ed2024;
  font-weight:700
}
.banner-box .grey-title {
  background-color:#f4f6f8;
  padding:1.5rem 3.5rem .5rem
}
.banner-box .grey-title p {
  font-size:.9375rem;
  line-height:1.625rem
}
.banner-box .grey-title p a {
  color:#ed2024
}