.kek-subheader-slider {
  position: relative;
  z-index: 2;
  /* margin-top:10rem; */
  margin-bottom: 4rem;
}
@media only screen and (max-width: 991px) {
  .kek-subheader-slider {
    margin-top: 11rem;
  }
}
@media only screen and (max-width: 767px) {
  .kek-subheader-slider {
    margin-top: 9rem;
  }
}
@media only screen and (max-width: 576px) {
  .kek-subheader-slider {
    margin-top: 6rem;
    margin-bottom: 0;
  }
}
.kek-subheader-slider + * {
  padding-top: 0 !important;
}
.kek-subheader-slider.loading {
  overflow: hidden;
}
.kek-subheader-slider.loading .data-border {
  height: 74px;
}
.kek-subheader-slider.loading .owl-carousel {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 30px;
}
.kek-subheader-slider.loading .owl-carousel .owl-slide {
  width: 100%;
  max-width: 20%;
}
@media only screen and (max-width: 1023px) {
  .kek-subheader-slider.loading .owl-carousel .owl-slide {
    width: 100%;
    max-width: 33.333%;
  }
}
@media only screen and (max-width: 766px) {
  .kek-subheader-slider.loading .owl-carousel .owl-slide {
    width: 100%;
    max-width: 50%;
  }
}
@media only screen and (max-width: 575px) {
  .kek-subheader-slider.loading .owl-carousel .owl-slide {
    width: 100%;
    max-width: 100%;
  }
}
.kek-subheader-slider .data-border {
  border-top: 1px solid #e5e9ed;
  border-bottom: 1px solid #e5e9ed;
}
.kek-subheader-slider .data-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  margin-top: -10px;
  background: #fff;
  /* background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 2)),
    url("../images/subheader-bg.jpg"); */
  /* background-size: cover; */
}
.kek-subheader-slider .owl-carousel {
  display: block;
  width: 100%;
  white-space: nowrap;
}
.kek-subheader-slider .owl-carousel .owl-slide {
  display: inline-block;
  width: 100%;
}
.kek-subheader-slider .owl-carousel .owl-stage-outer {
  overflow: initial;
  z-index: 1;
}
.kek-subheader-slider .owl-carousel .owl-item {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.kek-subheader-slider .owl-carousel .owl-item.active {
  opacity: 1;
}
.kek-subheader-slider .data-wrapper .owl-carousel .owl-nav {
  position: absolute;
  inset: 0;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 0;
  margin: 0 -2rem;
  transform: translateY(-50%);
  z-index: 5;
}
@media only screen and (max-width: 576px) {
  .kek-subheader-slider .data-wrapper .owl-carousel .owl-nav {
    margin: 0;
  }
}
.kek-subheader-slider .data-wrapper .owl-carousel .owl-prev,
.kek-subheader-slider .data-wrapper .owl-carousel .owl-next {
  width: 28px;
  height: 28px;
  border: 1px solid #e5e9ed;
  border-radius: 100%;
}
.kek-subheader-slider .data-wrapper .owl-carousel .owl-prev {
  background-image: url(../img/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.kek-subheader-slider .data-wrapper .owl-carousel .owl-next {
  background-image: url(../img/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.kek-subheader-slider .data-wrapper .owl-carousel .owl-prev span,
.kek-subheader-slider .data-wrapper .owl-carousel .owl-next span {
  font-size: 0;
}
.kek-subheader-slider .platform-item {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.kek-subheader-slider .platform-item:hover .data-pages {
  display: block;
}
.kek-subheader-slider .platform-item.active .data-pages {
  display: block;
}
.kek-subheader-slider .platform-item .data-button {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 5px 20px;
  border: none;
  background: 0 0;
  color: #050708;
}
.kek-subheader-slider .platform-item .data-logo {
  width: 80px;
  height: 50px;
}
.kek-subheader-slider .platform-item .data-name-wrapper {
  position: relative;
}
.kek-subheader-slider .platform-item .data-name {
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 175%;
  margin: 0;
}
.kek-subheader-slider .platform-item .data-label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 5px;
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 1;
  border-radius: 5px;
  background-color: var(--kek-themecolor);
  color: #fff;
  text-transform: uppercase;
}

.kek-subheader-slider .platform-item .data-pages {
  position: absolute;
  display: none;
  width: 100%;
  min-width: 300px;
  min-height: auto !important;
  padding: 1.5rem;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
  top: 100%;
  left: 0;
  list-style: none;
}

.kek-subheader-slider .platform-item .data-pages li {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .kek-subheader-slider .platform-item .data-pages {
    min-width: 220px;
  }
}
@media screen and (min-width: 1024px) {
  .kek-subheader-slider .platform-item .data-pages {
    min-width: 280px;
  }
}
@media only screen and (max-width: 576px) {
  .kek-subheader-slider .platform-item .data-button {
    padding: 0 40px;
  }
  .kek-subheader-slider .platform-item .data-pages {
    left: 50%;
    transform: translateX(-50%);
  }
}
.kek-subheader-slider .platform-item .data-pages li:not(:last-child) {
  margin-bottom: 5px;
}
.kek-subheader-slider .platform-item .data-pages a {
  color: #050708;
  font-size: 0.9375rem;
  transition: color 0.5s ease;
}

.kek-subheader-slider .platform-item .data-pages a:hover {
  color: var(--kek-themecolor);
}

.hero-bg {
  position: absolute;
  left: 0;
  top: -100px;
  z-index: 0;
  object-fit: cover;
  max-width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--kek-golden-20);
  opacity: 0.5;
}
