nav.woocommerce-breadcrumb {
  color: var(--kek-themecolor) !important;
  font-weight: bold !important;
}

nav.woocommerce-breadcrumb a {
  font-weight: normal !important;
}

.woocommerce-breadcrumb a:hover {
  text-decoration: underline;
}
