.frame-title.media-frame-title {
  top: 15px; }

.settings {
  position: relative;
  display: none; }

.modal-backdrop {
  z-index: 159899; }

.modal {
  z-index: 159999; }

.menu a:active,
.menu a:focus {
  outline: none; }

.menu a.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto; }

.content > .panel {
  padding: 20px;
  display: none; }

.content > .panel.active {
  display: block;
  height: 100%; }

.content > .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  opacity: 1;
  visibility: visible; }

.button-link.modal-close {
  text-align: center;
  text-decoration: none; }

.panel .wrap-head-panel-mega {
  width: calc(100% + 40px);
  margin-left: -20px;
  border-bottom: 1px solid #ddd;
  padding: 0 20px 20px;
  box-sizing: border-box; }
  .panel .wrap-head-panel-mega p {
    display: inline-block;
    margin: 0 30px 0 0; }
.panel.panel-content .content-image-preview {
  width: 150px;
  display: inline-block; }
  .panel.panel-content .content-image-preview img {
    max-width: 100%; }

/**
 * Mega Menu Content Fields
 */
.mega-content {
  height: 100%;
  position: relative;
  padding: 10px 0;
  overflow: hidden; }

.background-grid-container {
  position: absolute;
  width: 100%;
  height: 100%; }

.background-grid {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex; }

.background-grid .grid-separator {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  height: 100%;
  border-left: 1px dashed #ccc; }

.submenu-column {
  box-sizing: border-box;
  transition: width 0.7s;
  float: left;
  position: relative;
  padding: 10px; }

.submenu-column ul {
  margin: 0;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff; }
  .submenu-column ul li {
    margin: 0; }

.submenu-column li.menu-item-depth-0 {
  text-transform: uppercase;
  position: relative;
  padding: 0 40px 0 0; }

.submenu-column .column-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  cursor: pointer; }

.submenu-column .resizable-e {
  right: 20px; }

.submenu-column .resizable-w {
  text-align: right; }

/**
 * Background Fields
 */
.panel-background {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  height: 100%; }
  .panel-background * {
    box-sizing: border-box; }
  .panel-background .wrap-background-extend-options {
    width: 50%;
    float: left; }

.panel-background .background-image {
  width: 50%;
  position: relative;
  height: 100%;
  float: left;
  margin: 0;
  padding-right: 20px; }

.panel-background .background-image-preview {
  display: block;
  margin-bottom: 10px; }

.panel-background .background-image-preview img {
  max-width: 100%; }

.toolbar .spinner {
  margin-top: 22px; }

/**
 * Icon fields
 */
.icon-selector {
  position: relative;
  width: 100%;
  height: 100%; }

.icon-selector .icon-search {
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 10px; }

#selected-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  text-align: center;
  border: 1px solid #ccc;
  float: left;
  margin-right: 10px; }

#selected-icon i {
  font-size: 20px;
  line-height: 48px;
  cursor: pointer; }

#selected-icon:hover {
  border-color: #fe2f2f; }

.icon-selector .icons i {
  cursor: pointer;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 4px;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #eee; }

.icon-selector .icons .active {
  background-color: #eee; }

.menu-item-handle {
  position: relative; }

.menu-item .menu-item-handle .item-title {
  margin-right: 2em; }

.menu-item .menu-item-handle .item-title,
.menu-item-edit .menu-item-edit-button {
  float: left; }

.menu-item-edit .menu-item-edit-button .dashicons {
  line-height: 20px;
  font-size: 14px; }

.menu-item-edit .menu-item-edit-button {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  padding: 0 5px 0 0;
  background: #999;
  border-color: #999;
  text-shadow: none;
  box-shadow: none; }
  .menu-item-edit .menu-item-edit-button:hover {
    background: #0073aa;
    border-color: #0073aa; }

.mega-menu-item .menu-item-edit .menu-item-edit-button {
  background: #0073aa;
  border-color: #0073aa; }

/*# sourceMappingURL=mega-menu.css.map */
